* {
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

html {
    background: url('./what-the-hex.png');
    
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #5E5E5E;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem;
}

h2 {
    font-size: 1.2rem;
    padding: 0 2rem;  
}

h3 {
    margin: 0;
}

.header-main {
    width: 80rem;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-main img {
    width: 30rem;
}

.header-main nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-main nav ul, .header-main nav li {
    padding: 0;
    margin: 0;
}

.header-main nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-main nav li {
    margin: 2rem;
   
}

.header-main a {
    color: #5E5E5E;
    font-weight: 700;
    font-size: 1.3rem;
}

section[role="main"] {
    width: 80rem;
    max-width: 90vw;
    background: white;
    box-shadow: 0 0 2rem .5rem rgba(0,0,0,0.1) ;
    margin-top: .5rem;
}

.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}

.cols > div{
    display: block;
    width: 50%;
    padding: .5rem;
    line-height: 1.6rem;
}

.cols li {
    padding: .2rem;
}

.panel-blue {
    background: #2B92BA;
    width: 100%;
    
}

.demo {
    padding: 3rem;
    text-align: center;
}

.demo h1 {
    color: white;
}

.demo input[type=file] {
    display: none;
}

.demo form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.demo label{
    display: block;
    background: white;
    padding: .5rem;
    margin: .5rem;
    border-radius: .3rem;
    border: none;
    text-align: left;
    width: 30rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.demo button {
    background: white;
    padding: .5rem;
    margin: .5rem;
    border-radius: .3rem;
    border: none;
    font-size: 1rem;
}

.demo-content h2 {
    text-align: left;
    color: white;;
}

.cards {
    display: flex;
    flex-direction: row;
}

.card {
    width: 33%;
    min-height: 5rem;
    background: white;
    margin: .5rem .5rem 0 0;
    padding: .5rem;
    text-align: left;
}

.card ul, .card li {
    margin: 0 1.5rem;
    padding: 0;
}
.card p, .card li {
    margin: .3rem .5rem;
    font-size: .8rem;
}


table {
    border-collapse: collapse;
    width: 100%;
}

.demo-content td, .demo-content th {
    border: .1rem solid white;
    border-collapse: collapse;
    padding: .3rem;
}

#map {
    height: 25rem;
    border: .4rem solid white;
    margin-top: 1rem;
}

pre {
    margin: 0;
}

footer {
    padding: 3rem;
    text-align: center;
    background: #2B92BA;
    color: white;
    font-weight: 700;
    margin-top: 2rem;
}

footer a {
    color: white;
}