* {
    box-sizing: border-box;
    color: #5E5E5E;
    font-family: 'Merriweather', serif;
}

html {
    background: url('./what-the-hex.png');
    
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem;
}

.header-main {
    width: 80rem;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-main img {
    width: 30rem;
}

.header-main nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header-main nav ul, .header-main nav li {
    padding: 0;
    margin: 0;
}

.header-main nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-main nav li {
    margin: 2rem;
   
}

.header-main a {
    color: #5E5E5E;
    font-weight: 700;
    font-size: 1.3rem;
}

section[role="main"] {
    width: 80rem;
    height: 50rem;
    max-width: 90vw;
    background: white;
    box-shadow: 0 0 2rem .5rem rgba(0,0,0,0.1) ;
    margin-top: .5rem;
}

.cols {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}

.cols > div{
    display: block;
    width: 50%;
    padding: .5rem;
    line-height: 1.6rem;
}

.cols li {
    padding: .2rem;
}

.panel-blue {
    background: #2B92BA;
    width: 100%;
    
}

.demo {
    padding: 5rem;
    text-align: center;
}

.demo h1 {
    color: white;
}

.demo input[type=file] {
    display: none;
}

.demo form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.demo form > * {
    margin: .5rem;
}

.demo label{
    display: block;
    background: white;
    padding: .5rem;
    border-radius: .3rem;
    border: none;
    text-align: left;
    width: 30rem;
}

.demo input[type=submit] {
    background: white;
    padding: .5rem;
    border-radius: .3rem;
    border: none;
    font-size: 1rem;
}


.demo-content {
    margin-top: 2rem;
    color: white;
}

#map {
    height: 25rem;
    border: .4rem solid white;
}